@use "../../styles/abstracts/" as *;

.quote {
  position: relative;
  padding: 1rem 0;

  @media (min-width: 768px) {
    padding: 7rem 0;
  }

  p {
    color: $secondaryColor;
    text-align: center;
    line-height: 1.31;
  }

  &-bubbles {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 60rem;
    z-index: -1;

    @media (min-width: 768px) {
      left: -15rem;
      width: 74.4rem;
    }
  }
}
