@use "../abstracts" as var;
@use "../utils";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: var.$primaryFont;
  font-weight: normal;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  overflow-x: hidden;
  color: var.$whiteColor;
  background-color: var.$blackColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: var.$primaryFont;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: var.$baseLineHeight;
}

h1 {
  @include utils.font-sizer(3.2, 5.6, 76.8, 120);
}

h2 {
  @include utils.font-sizer(2.6, 4.6, 76.8, 120);
}

h3 {
  @include utils.font-sizer(2.2, 3.4, 76.8, 120);
}

h4 {
  @include utils.font-sizer(2, 2.8, 76.8, 120);
}

h5 {
  @include utils.font-sizer(2, 2.4, 76.8, 120);
}

h6 {
  @include utils.font-sizer(1.8, 2.2, 76.8, 120);
}

p {
  @include utils.font-sizer(1.8, 2, 76.8, 120);
  margin: 0;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

a {
  @include utils.font-sizer(1.8, 2, 76.8, 120);
  text-decoration: none;
  color: var.$primaryColor;
  font-weight: normal;
  transition: all 0.3s ease;
}

a:hover {
  color: var.$secondaryColor;
}

a:focus {
  outline: 0.4rem solid var.$tertiaryColor;
  transition: outline-width 0.35s ease-in-out;
}

span {
  font-size: 1em;
}

ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

// .main-wrapper {
//   position: relative;
// }
