@use "../abstracts" as *;
@use "../utils";

.btn {
  @include utils.font-sizer(1.4, 1.9, 76.8, 150, 1.8);
  position: relative;
  display: inline-block;
  padding: 1.7rem 2.2rem;
  transition: all 0.3s ease;
  border: none;
  background-color: $secondaryColor;
  color: $whiteColor;
  font-family: $primaryFont;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  outline: none;

  &:focus {
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: $whiteColor;
    background-color: $primaryColor;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: $primaryColor;
      cursor: not-allowed;
    }
  }
}

.btn-one {
  @extend .btn;
}

.btn-two {
  @extend .btn;
  background-color: $primaryColor;

  &:hover {
    background-color: $secondaryColor;
  }
}
