@use "../abstracts";
@use "../utils";

.btn {
  @include utils.font-sizer(1.4, 1.8, 76.8, 150, 1.8);
  position: relative;
  display: inline-block;
  padding: 0.75rem 2.5rem;
  transition: all 0.3s ease;
  border-radius: 1rem;
  border: 0.1rem solid abstracts.$primaryColor;
  background-color: abstracts.$secondaryColor;
  color: abstracts.$whiteColor;
  font-family: abstracts.$primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  outline: none;

  &:focus {
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: abstracts.$accentColor;
    background-color: abstracts.$blackColor;
    border-color: abstracts.$blackColor;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      color: abstracts.$accentColor;
      background-color: abstracts.$blackColor;
      cursor: not-allowed;
    }
  }
}

.btn-one {
  background-color: abstracts.$primaryColor;
  color: abstracts.$whiteColor;
}

.btn-two {
  @include utils.font-sizer(2.4, 3, 76.8, 150, 2.8);
  background-color: abstracts.$primaryColor;
  color: abstracts.$whiteColor;
}
