@use "../abstracts";
@use "../utils";

.headline-all {
  color: abstracts.$blackColor;
  font-family: abstracts.$primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
}

.hl-one {
  @extend .headline-all;
  @include utils.font-sizer(5, 8, 76.8, 150, 5);
}

.hl-two {
  @extend .headline-all;
  @include utils.font-sizer(3.2, 5, 76.8, 150, 3.2);
}

.hl-three {
  @include utils.font-sizer(2.8, 3.5, 76.8, 150, 2.8);
  @extend .headline-all;
}

.hl-four {
  @include utils.font-sizer(2.8, 3.6, 76.8, 160, 2.8);
  @extend .headline-all;
}

.hl-five {
  @include utils.font-sizer(1.6, 1.8, 76.8, 150, 1.6);
  @extend .headline-all;
  font-family: abstracts.$secondaryFont;
  line-height: 1.27;
  color: abstracts.$blackColor;
}

.hl-white {
  color: abstracts.$whiteColor;
}
