---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./hero.scss";
import Headline from "../shared/Headline.astro";
---

<div class="post-hero">
  <Wrapper>
    <div class="post-hero-cat">
      <p>News + Ideas</p>
    </div>
    <div class="post-hero-image">
      <div class="post-hero-image-wrap">
        <Image
          src={Astro.props.featuredImage.sourceUrl}
          alt={Astro.props.featuredImage.altText}
          width="2000"
          height="1500"
        />
      </div>
      <div class="post-hero-overlay"></div>
    </div>

    <div class="post-hero-title">
      <Headline ele="h1" hlstyle="four">{Astro.props.title}</Headline>
    </div>
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const heroOverlay = document.querySelector(".post-hero-overlay");
  const heroTitle = document.querySelector(".post-hero-title");

  gsap.fromTo(
    heroOverlay,
    { scaleX: 1 },
    { scaleX: 0, delay: 0.5, duration: 0.75, transformOrigin: "center right" },
  );

  gsap.fromTo(
    heroTitle,
    { autoAlpha: 0, x: 300 },
    { delay: 1.25, duration: 0.75, autoAlpha: 1, x: 0 },
  );
</script>
