@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.single-post-nav {
  background-color: $whiteColor;

  &-wrapper {
    border-top: solid 0.3rem $blackColor;
  }

  a {
    @extend .p-four;
    text-transform: uppercase;

    &:hover {
      color: $shadowColor;
    }

    span {
      display: inline-block;
    }
  }

  &-prev {
    width: calc(50%);
    padding-left: 10rem;

    &-alone {
      width: calc(100%);
    }

    a {
      span {
        padding-right: 1rem;
      }
    }
  }

  &-next {
    width: calc(50%);
    padding-right: 10rem;
    text-align: right;

    &-alone {
      width: calc(100%);
    }

    a {
      span {
        padding-left: 1rem;
      }
    }
  }
}
