$primaryColor: #b448d5;
$secondaryColor: #dd784a;
$tertiaryColor: #ce72ea;
$accentColor: #003b49;
$shadowColor: #b448d5;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
