$primaryColor: #b22f0c;
$secondaryColor: #005a3c;
$tertiaryColor: #d9c99e;
$accentColor: #b9441b;
$shadowColor: #96bcc5;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
