@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.port-nav {
  padding-top: 2rem;
  background-color: $whiteColor;

  &-wrapper {
    border-top: solid 0.3rem $blackColor;

    nav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0;

      a {
        @extend .p-three;
        text-transform: uppercase;
      }
    }
  }
}
