@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.vision {
  padding: 2.5rem 0;

  @media (min-width: 768px) {
    padding: 7.5rem 0;
  }

  &-wrapper {
    position: relative;
  }

  &-title {
    width: 100%;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }

    h2 {
      width: 100%;
      text-transform: uppercase;
      color: $primaryColor;

      @media (min-width: 768px) {
        max-height: 20rem;
        margin: auto;
        text-align: center;
      }
    }
  }

  &-statement {
    width: 100%;

    @media (min-width: 768px) {
      width: 80%;
    }

    p {
      @extend .hl-four;
      color: $primaryColor;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
