@use "../../styles/abstracts/" as *;
@use "../../styles/global/wrappers";

.nav-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in;
  transform: translateY(-100%);
  background: $blackColor;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: -99999999;

  &.active {
    transform: translateY(0%);
    opacity: 1;
    z-index: 999999999;
  }

  .main-nav-wrapper {
    @extend .wrap-med;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
