---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
    method: "POST",
    headers: {
      "content-type": "application/json",
    },
    body: JSON.stringify({
      query: `
        query postQuery {
            posts(first: 999999) {
                nodes {
                    slug
                    uri
                }
            }
        }
      `,
    }),
  });

  const { data } = await response.json();

  return data.posts.nodes.map((post) => {
    return {
      params: { slug: `${post.slug}` },
    };
  });
}
---

<Layout>
  <div>
    <h1>Single Post</h1>
  </div>
</Layout>
