---
import { Image } from 'astro:assets';
import './creativity.scss';
---


<div class="creativity" id="creativity-hero">
    <div class="bg-image">
        <Image src={Astro.props.data.heroImage.sourceUrl} alt={`Switchback Creative`} inferSize={true}/>
    </div>
</div>

