@use "../../styles/global/paragraphs";
@use "../../styles/global/headlines";
@use "../../styles/abstracts/" as *;

.creativity {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 55rem;
  height: 100vh;
  flex: 0 0 100vw;

  @media (min-width: 768px) {
    height: 100vh;
    min-height: 75rem;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    z-index: 1;

    img {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .bg-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 2;
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10rem;
    z-index: 10;

    &-link,
    &-video {
      width: calc(100%);
      max-width: 35rem;
      margin: 2rem auto;

      @media (min-width: 768px) {
        width: calc(50% - 8rem);
        max-width: 80rem;
        margin: 2rem 6rem;
      }

      @media (min-width: 1025px) {
        width: calc(50% - 10rem);
        max-width: 80rem;
        margin: 2rem 8rem;
      }

      @media (min-width: 1200px) {
        width: calc(50% - 16rem);
        max-width: 80rem;
        margin: 2rem 14rem;
      }

      @media (min-width: 1400px) {
        width: calc(50% - 24rem);
        max-width: 80rem;
        margin: 2rem 22rem;
      }
    }

    &-link {
      @media (min-width: 768px) {
        margin-right: 2rem;
      }
      @media (min-width: 1025px) {
        margin-right: 2rem;
      }

      a {
        position: relative;

        &::after {
          position: absolute;
          top: -1.5rem;
          left: 3rem;
          display: block;
          width: 3rem;
          height: 3rem;
          transition: all 0.3s ease-in-out;
          border-radius: 50%;
          background-color: $secondaryColor;
          color: $whiteColor;
          text-align: center;
          content: "\002B";
        }

        &:hover {
          &::after {
            background-color: $primaryColor;
          }
        }
      }
    }

    &-video {
      @media (min-width: 768px) {
        margin-left: 2rem;
      }
      @media (min-width: 1025px) {
        margin-left: 2rem;
      }
    }

    &-content {
      width: 100%;
      padding: 0 2rem;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
        padding-left: 15rem;
      }

      p {
        @extend .p-one;
        color: $whiteColor;
        margin-bottom: 0;
      }
    }
  }

  &-main {
    width: 100%;
    position: relative;
    padding: 0 2rem;
    text-align: center;
    z-index: 9;

    @media (min-width: 768px) {
      position: absolute;
      bottom: 5rem;
      right: 0rem;
      padding: 0;
      text-align: left;
    }

    h2 {
      @extend .hl-two;
      color: $secondaryColor;
    }
  }
}
