---
import { Image } from 'astro:assets'
import './experiences.scss'
---

<div class="experiences" id="experiences-component">
    <div class="bg-image">
        <Image src={Astro.props.data.heroImage.sourceUrl} alt={`Switchback Creative`} inferSize={true}/>
    </div>
</div>