@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";
@use "../../styles/abstracts/" as *;

.founder {
  position: relative;
  width: 100vw;
  z-index: 10;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 100vh;
    min-height: 50rem;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 5rem;
    z-index: 10;

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 auto;
      height: 100%;
      min-height: auto;
      margin-top: 10rem;
      padding: 2rem 8rem;
      width: 74rem;
    }
  }

  &-purple {
    width: 100%;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
    }

    p {
      width: 100%;
      @extend .hl-three;
      color: $primaryColor;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &-text {
    p {
      @extend .p-two;
      color: $whiteColor;
    }
  }

  &-signature {
    width: 20rem;
    margin-bottom: 2.5rem;

    p {
      @extend .p-three;
      margin: 0;
      color: $whiteColor;
    }
  }

  &-frog {
    position: absolute;
    bottom: 20rem;
    left: -5rem;
    width: 15rem;
    z-index: 5;
  }

  &-bubbles {
    position: absolute;
    bottom: 10rem;
    right: -25rem;
    width: 60rem;
    z-index: 1;
  }
}
