@use "../../styles/global/headlines";
@use "../../styles/global/paragraphs";
@use "../../styles/abstracts/" as *;

.home-opening-hero {
  position: relative;
  width: 100%;
  height: 50rem;
  flex: 0 0 100vw;

  @media (min-width: 768px) {
    height: 100vh;
    min-height: 75rem;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    z-index: 1;

    img {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .bg-image-parallax {
    display: none;
    position: absolute;
    bottom: -7rem;
    left: 0;
    width: calc(204.8rem);
    height: calc(36.1rem);
    transform-origin: center center;
    z-index: 2;

    @media (min-width: 768px) {
      display: block;
    }

    img {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .bg-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 2;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    right: 0;
    left: 0;
    z-index: 10;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

    @media (min-width: 1025px) {
    }

    &-title {
      width: 100%;
      padding: 2rem;
      text-align: center;

      @media (min-width: 768px) {
        width: auto;
        padding: 2rem;
        text-align: left;
      }

      @media (min-width: 1025px) {
      }
    }

    h2 {
      color: $whiteColor;
      max-width: 62.5rem;
      @media (min-width: 768px) {
        max-width: 45rem;
      }

      @media (min-width: 1025px) {
        max-width: 62.5rem;
      }
    }

    .btn-rentals {
      padding: 1.5rem 2rem;
      background-color: transparent;
      border: 0.2rem solid $secondaryColor;
      color: $secondaryColor;

      &:hover {
        background-color: $secondaryColor;
        color: $whiteColor;
      }
    }
  }
}
