@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs.scss";

.loc-rent {
  padding: 5rem 0;
  background-color: $secondaryColor;

  &-rentals {
    width: calc(100%);
    margin-bottom: 5rem;

    @media (min-width: 768px) {
      width: calc(50% - 2.5rem);
      margin-right: 2.5rem;
      margin-bottom: 0;
    }
  }

  &-location {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(50% - 2.5rem);
      margin-left: 0 2.5rem;
    }
  }

  h2 {
    color: $whiteColor;
  }

  p {
    @extend .p-three;
    color: $whiteColor;
  }

  p.loc-rent-rentals-title-intro,
  p.loc-rent-location-title-intro {
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
  }

  a {
    background-color: $blackColor;
  }
}
