---
import "./notFound.scss";
import Wrapper from "../shared/Wrapper.astro";
import { Image } from "astro:assets";
import heroImage from "../../../public/404-hero.jpg";
---

<div class="not-found">
  <Wrapper wrapType="stand" classes="not-found-wrapper">
    <div class="not-found-title">
      <h1>Oops!</h1>
    </div>
    <div class="not-found-content">
      <p>
        WE CAN’T SEEM TO FIND THE PAGE YOU’RE LOOKING FOR. <br />ERROR CODE: 404
      </p>
    </div>
    <div class="not-found-nav">
      <ul>
        <li><a href="/services">Design Capabilities</a></li>
        <li><a href="/portfolio">Our Work</a></li>
        <li><a href="/about">Design Team</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Start a Project</a></li>
      </ul>
    </div>
  </Wrapper>
  <div class="not-found-hero">
    <Image src={heroImage} alt="" />
  </div>
</div>
