---
import { Image } from "astro:assets";
---

<div class="grid-item">
  <div class="grid-item-image">
    <div class="grid-item-image-wrapper">
      <Image
        src={Astro.props.image.sourceUrl}
        alt={Astro.props.image.altText}
        width="500"
        height="500"
      />
    </div>
  </div>
</div>
