---

---

<div class="grid-item">
  <div class="grid-item-video">
    <div class="grid-item-video-wrapper">
      <video controls autoplay loop muted src={Astro.props.video.mediaItemUrl}
      ></video>
    </div>
  </div>
</div>
