@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs.scss";

.grid {
  .grid-wrapper {
    justify-content: flex-start;
  }

  &-item {
    position: relative;
    width: 100%;
    margin-bottom: 2.5rem;
    min-height: 30rem;

    @media (min-width: 768px) {
      width: calc(50%);
      min-height: 40rem;
      margin-bottom: 2.5rem;
    }

    @media (min-width: 1025px) {
      width: calc(33.333333%);
      margin-bottom: 0;
    }

    &-content {
      padding: 4rem;

      p {
        @extend .p-four;
        color: $whiteColor;
      }

      &-names {
        p {
          margin-bottom: 0;
        }
      }
    }

    &-image {
      width: 100%;

      &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-video {
      width: 100%;

      &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
