@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.post-list {
  &-item {
    width: calc(100%);
    margin-bottom: 2rem;
    background-color: #212326;

    @media (min-width: 768px) {
      width: calc((100% / 3) - 2rem);
      margin: 1rem;
    }

    &-image {
      position: relative;
      width: 100%;
      height: 30rem;

      &-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-intro {
      width: 100%;
      padding: 3rem;

      &-title {
        h2 {
          @extend .p-one;
          line-height: 1.1;
          color: $whiteColor;
        }
      }

      &-excerpt {
        p {
          @extend .p-four;
          color: $whiteColor;

          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
  }
}
